.parent {
  /* font-size: 10px; */
  font-size: 1.2rem;
  border: 5px solid;
  background-color: #ffe;
  /* height: 20em; /* 20 x 10px = 200px*/
  /* width: 30em;  /* 30 x 10px = 300px */ 
  /* height: 300px;
  width: 400px; */
  height: 50%;
  width: 50%;
}


.child {
  border: 10px solid #f11;
  background-color: #1ed4de;
  height: 65%;
  width: 75%;
}

.child p {
  width: 80%;
  /* height: 90%; */
}

/* absolute and relative lengths */

/* px pixel  1/96 of an inch*/
/*  em */
/* rem */
/* % */
/*  vw vh */

.box {
  width: 100%;
  /* height: 100%; */
  background-color: #ff2;
  border: 10px solid #000
}